/**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

/*Header Box*/

.header-box{
    background-size: cover;
    height: 95vh;
    background-position: top;
    background-image: linear-gradient(
        to right bottom,
        #fff7fb7c, 
        #045181be)
         ,url('../img/headerbanner.jpg');
    clip-path: polygon(
        0 0, 100% 0, 100% 75%, 0 100%
    )     
}

.header-box-logo{
    position: absolute;
    top: 20px;
    left: 20px;
}
.logo{
    height: 40px;
}

.header-box-content{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heading-primary{
    color: white;
    margin-bottom: 40px;
}
.heading-primary-main{
    display: block; 
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 20px;
 
    animation-name: heading-primary-main-toleft; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes heading-primary-main-toleft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
.heading-primary-sub{
    display: block;
    font-size: 20px;

    animation-name: heading-primary-sub-toright; 
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
@keyframes heading-primary-sub-toright{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.btn:visited, 
.btn:link{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2.5px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 15px;
    border-radius: 100px;
    box-shadow: 0 10px 40px rgba(255, 251, 251, 0.2);
    position: relative;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 40px rgba(255, 251, 251, 0.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 10px 40px rgba(255, 251, 251, 0.2);
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}
.btn-white{
    background-color: #fff;
    color: #777;  
    box-shadow: 0 10px 40px rgba(255, 251, 251, 0.2);
}
.btn-white::after{
    background-color: white;
}
.btn-white:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}
@keyframes btn-moveup{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



















/*Draft*/
.todo-list{
    background-color: white;
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #efefef;
    box-shadow: 
        0 1px 1px rgba(0,0,0,0.15);
   

    padding: 30px;
}
.todo-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 20px 0;
    width: 70%;
    border-bottom: 1px solid #cecece;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}
input[type=checkbox]{
    margin-right: 10px;
}
.card-title{
    display: inline-flexbox;

    font-family: Calibri;
    font-style: unset;
    font-size: 20px;
    font-weight: 700;
    color: darkblue;
    
    border: 0.5px 0.5px 0.5px 0.5px;

    width: fit-content;

    margin: 0px 0px 0px 8px;

    margin-right: 0;
     
}
.card-description-0{ 
    color: #222121;
    margin-top: 0.5px;
    margin-left: 8px;
    margin-bottom: 0.5px;
    margin-right: 0.5px;
     
    padding-right: 8px;

    width: fit-content;
    font-family: sans-serif;
}
.card-description-1{
    display: flex;
    color: #807e7e;
    margin-top: 0.5px;
    margin-left: 8px;
    margin-bottom: 2px;
    padding-right: 8px;

    width: fit-content;
    float: left;
}
.im-properties{
    height: 15%;
    width: 100%;
}
.card-layout{
    
    width: 70%;
    height: 30%;
    margin: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    background-color:white;
     
    border: 1px solid #efefef;
    border-radius: 4px  ;
}
.cards{
    display: inline-flex;
    padding: 10%;
    margin-left: 0.2%;
    margin-right: 0.2%;
    
}
.book-label{
    display: flex;
    background-color: rgb(134, 1, 1);
    color: white;
    height: fit-content;
    width: fit-content;
    font-family: Calibri;
    font-style: normal;
    border-radius: 4px;
    padding: 0.5px 8px 0.5px 8px;
    font-weight: 50;
    float: right;
    margin-right: 25px;
    margin-bottom: 5px;
}



